/* Shared Settings for Login UI */
body, form, .height, .width, .container, .security-icon, .login-box, .login-prompt, .icons, .login-button,
.accounts, .other-logins, .copyright {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    width: 100%;
}

/* Set "canvas" height */
body{
    height: 95vh;
    width: 95vw;
}

h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
	padding: 1em 0 0.4em 0;
}

a:-webkit-any-link {
    cursor: pointer;
    color: white;
}

.height {
    flex-direction: column;
}

.container{
    background: aqua;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-width: 280px;
    box-shadow: 25px 25px 75px rgba(71, 65, 95,1);
    -webkit-box-shadow: 25px 25px 75px rgba(71, 65, 95,1); 
	-moz-box-shadow: 25px 25px 75px rgba(71, 65, 95,1); 
    border-top-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -moz-border-top-left-radius: 25px; 
    border-top-right-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-top-right-radius: 25px; 
    border-bottom-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
}

form {
    flex-direction: column;
    /* width: 100%; */
}

.security-icon {
    justify-content: space-around;
    font-size: 50px;
    margin-bottom: .5em;
}

.login-box {
    flex-direction: column;
    align-items: center;
    font-size:small;
}

/* .login-prompt {
    background: green;
} */

.icons {
    align-self: center;
    gap: 5px;
    background: white;
	padding: .75em ;
    margin: 1em;
    width: 50%;
    min-width: 200px;
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-top-right-radius: 15px; 
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
}
.icons span.fa {
    color: black;
    font-size: 25px;
}

.checkbox{
    /* background: yellow; */
    margin: 10px;
    text-align: center;
}

/* .login-button{
    background: magenta;
} */

button.btn {
    background: blue;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    width: 50%;
    height: 3em;
    letter-spacing: 1px;
    outline: none;
    border: none;
    cursor: pointer;
}

.accounts{
    /* background: orange; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
	text-transform: uppercase;
    margin: 10px 0;
}

.other-logins{
    align-items: center;
    gap: 15px;
}
.other-logins span.fa {
	font-size: 10px;
	line-height: 25px;
}
.other-logins a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-decoration: none;
}
.other-logins a.facebook{
    background: #314d89;
}
.other-logins a.twitter{
    background: #1997e4;
}
.other-logins a.google {
    background: #d74835;
}

.copyright{
    /* background: gold; */
    gap: 10px;
    flex-wrap: wrap;
}