/* Shared Settings for Login UI */
form, .canvas, .container, .login-ui-header, .login-box, .login-prompt, .prompts, .login-button,
.accounts, .other-logins, .copyright {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #11073B;
    width: 100%;
    text-shadow: 2px 2px 3px rgba(134, 125, 176, 1);
}

/* Set to avoid scrollbars */
body {
    height: 96vh;
    width: 97vw;
    background-image: url(background.jpg);
    background-size:cover;
}

.prompts input {
    border: none;
    text-align: center;
    width: 80%;
}
/* .prompts input:focus{
    background: blue;
    border-color: #1997e4;

}
.prompts input:active{
    border-color: #550000;
    background-color: skyblue;
} */

a:-webkit-any-link {
    cursor: pointer;
    color: white;
}

/* Set background to full screen */
.canvas {
    /* background: yellow; */
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container{
    /* background: wheat; */
    background-image: url(login_bg.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 280px;
    max-width: 400px;
    height: 100%;
    min-height: 525px;
    max-height: 700px;
    box-shadow: 25px 25px 75px rgb(169, 169, 189);
    -webkit-box-shadow: 25px 25px 75px rgb(169, 169, 189); 
	-moz-box-shadow: 25px 25px 75px rgb(169, 169, 189);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px; 
}

.login-ui-header {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    color: #AA9439;
}

.login-box {
    /* background: white; */
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

form {
    /* background: #1997e4; */
    flex-direction: column;
    gap: 10px;
}

.prompts {
    background: white;
	justify-content: space-around;
    align-self: center;
    gap: 10px;
    padding: .75em 0;
    margin: 1em;
    width: 80%;
    min-width: 200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.prompts span.fa {
    color: black;
    font-size: 25px;
}

.checkbox{
    /* background: yellow; */
    margin: 10px;
    text-align: center;
}

/* .login-button{
    background: magenta;
} */

button.btn {
    background: #550000;
    color: #FFEFAA;
    font-size: 15px;
    text-transform: uppercase;
    width: 50%;
    height: 3em;
    letter-spacing: 1px;
    outline: none;
    border: none;
    cursor: pointer;
}

.accounts{
    /* background: orange; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
	text-transform: uppercase;
    margin: 10px 0;
}

.other-logins{
    align-items: center;
    gap: 15px;
}
.other-logins span.fa {
	font-size: 15px;
	/* line-height: 40px; */
}
.other-logins a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-decoration: none;
}
.other-logins a.facebook{
    background: #314d89;
}
.other-logins a.twitter{
    background: #1997e4;
}
.other-logins a.google {
    background: #d74835;
}

.copyright{
    /* background: gold; */
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}