body {
    background:black;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
}


h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
	padding: 1em 0 0.4em 0;
}


a:-webkit-any-link {
    cursor: pointer;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}

.container{
    background: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    min-width: 250px;
    box-shadow: 25px 25px 75px rgba(71, 65, 95,1);
    -webkit-box-shadow: 25px 25px 75px rgba(71, 65, 95,1); 
	-moz-box-shadow: 25px 25px 75px rgba(71, 65, 95,1); 
    border-top-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -moz-border-top-left-radius: 25px; 
    border-top-right-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-top-right-radius: 25px; 
    border-bottom-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    
}

.background {
    /* background: black; */
    display: flex;
    flex-direction: column;
    width: 100%
}

.security-icon{
    /* background: grey; */
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    margin-bottom: .5em;

}

.login-box {
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:small;
}

.login-prompt {
    /* background: green; */
    width: 100%;
}


.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    background: white;
	padding: .5em ;
    margin: 1em;
}
.icons span.fa {
    color: black;
    font-size: 25px;
}

.checkbox{
    /* background: yellow; */
    margin: 10px;
    text-align: center;
}

.login-button{
    /* background: magenta; */
    display: flex;
    justify-content: center;   
}

button.btn {
    background: #004dc0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    width: 50%;
    height: 3em;
    letter-spacing: 1px;
    outline: none;
    border: none;
    cursor: pointer;
}

.accounts{
    /* background: orange; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 11px;
	text-transform: uppercase;
    margin: 10px 0;
}

.other-logins{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
}
.other-logins span.fa {
	font-size: 10px;
	line-height: 25px;
}
.other-logins a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-decoration: none;
}
.other-logins a.facebook{
    background: #314d89;
}
.other-logins a.twitter{
    background: #1997e4;
}
.other-logins a.google {
    background: #d74835;
}

.copyright{
    /* background: rgb(223, 226, 47); */
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}